{% extends 'base.html.twig' %}

{% block body %}
    <section class="h-100vh pt-5">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">

                    <div class="row justify-content-center">
                        <!-- Content-->
                        <div class="col-8">

                            <!-- Post-->
                            <article class="post">
                                <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Login</b></h5>

                                <form action="{{ path('login') }}" method="post" class="mt-4">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" name="_username" type="text">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" name="_password" type="password">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group text-left">
                                                <script async
                                                        src="https://telegram.org/js/telegram-widget.js?22"
{#                                                        data-telegram-login="AlexBlogNotifierBot"#}
{#                                                        data-size="large"#}
{#                                                        data-radius="0"#}
{#                                                        data-auth-url="https://248988bb9dee.ngrok.app/telegram/callback"#}
{#                                                        data-request-access="write"#}
                                                ></script>
                                                <button type="button" onclick="return authTelegram()" class="btn btn-dark">Login via Telegram</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group text-right">
                                                <button name="submit" type="submit" id="submit" class="btn btn-dark">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // https://oauth.telegram.org/auth?bot_id=7014826394&origin=248988bb9dee.ngrok.app&return_to=https://248988bb9dee.ngrok.app/telegram/callback

        function authTelegram()
        {
            window.Telegram.Login.auth(
                { bot_id: '7014826394', request_access: true },
                (data) => {
                    if (!data) {
                        // authorization failed
                    }

                    // Here you would want to validate data like described there https://core.telegram.org/widgets/login#checking-authorization
                    console.log(data);
                }
            );
        }
    </script>
{% endblock %}
