{% extends 'base.html.twig' %}

{% block body %}
    <section class="h-100vh pt-5">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">

                    <div class="row justify-content-center">
                        <!-- Content-->
                        <div class="col-8">

                            <!-- Post-->
                            <article class="post">
                                <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Confirmation page</b></h5>

                                <form>
                                    Code: <input type="text" name="code" value="" class="form-control">
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </form>


                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
